//---------------------------------------------------------
// Variables
//---------------------------------------------------------

// Dimensions
$max-width: 1400px;
$grid-columns: 12;
$visual-grid: false;
$visual-grid-color: red;
$visual-grid-opacity: 0.1;

// Colours
$black: #000000;
$white: #ffffff;
$pagewhite: #fafafa;
$text: #4a4a4a;
$ixblue: #1C6FB8;

// Navigation

$breakpoint: 800px;
$nav-height: 80px;
$nav-background: #ffffff;
$nav-font-color: #1C6FB8;