//---------------------------------------------------------
// Main stylesheet for IXMaps website redesign
//---------------------------------------------------------

// Imports
@import "variables";
@import "navigation";
@import "bourbon";
@import "neat";
@import "grid";

h1, h2, h3,h4,h5,h6 {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

//---------------------------------------------------------
// Styles
//---------------------------------------------------------

body {
    background: #f0f0f0;
    margin: 0;
    box-sizing: border-box;
    color: $text;
    font: 18px/1.7 "Open Sans", $helvetica;
    @include media($small)   { font-size: 16px}
    @include media($mobile)  { font-size: 16px}
}
.text-center{
text-align: center
}
p, ul, a{
  font-weight: 400;
}

p.small{
  font-size: 14px;
  line-height: 18px
}

p.large{
  font-size: 30px;
  line-height: 44px;
}

p a {
  border-bottom: 1px solid #CFE3D0;
  text-decoration: none;
  box-shadow: inset 0 -2px 0 #CFE3D0;
  color: #4b814e;
  transition: all .25s ease-in-out;
  padding: 2px 2px 0 2px;
  cursor: pointer;
  &:hover {
    color: $text;
    background-color: #CFE3D0;
  }
}


h2{
margin-top: 0;
font-family: 'Work Sans';
font-weight: 900;
font-size: 62px;
text-shadow:
  0px 0px 50px rgba(0,0,0, .20),
  0px 0px 24px rgba(0,0,0, .3),
  0px 2px 8px rgba(0,0,0, .5);
}


.jumbo-hero{
  text-align: center;
  width: 100%;
  height: 600px;
  color: #fff;
  background:
    /* top, transparent red */
    linear-gradient(
      rgba(0, 129, 194, 0.7),
      rgba(0, 71, 138, 0.7)
    ),
    /* bottom, image */
    url('/img/electronics-board.jpg');
}








a {
  -webkit-font-smoothing: antialiased; // This makes the font weight lighter but causes the color reproduction to match what is expected.
}
.float-right {
  float: right;
}

.float-left {
  float: left;
}



body {
  background-color: #f0f0f0;
}




.theme-box {
  display:block;
  padding: 16px 32px;
  margin: 20px 0;
  background: #ffffff;
  border-radius: 8px;
  text-decoration: none;
  border: 1px solid #EAEAEA;
  box-shadow: 0 0 10px rgba(0,0,0,.20)
}

  .theme-box:hover{
    box-shadow: 0 0 10px rgba(0,0,0,.50);

    border-color: $ixblue
  }

.intro p.large{
  padding: 42px 0
}


h4{
  color: $ixblue;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  em{
    font-style: normal;
    font-weight: 700
  }
}

//BUTTONS

.button-wrap {
  margin-right: 25px;
}

.rad-button {
  white-space: nowrap;
  top: 0px;
  border-radius: 4px;
  position: relative;
  border: none;
  background: none;
  font-family: 'Work Sans', sans-serif;
  width: auto;
  height: 50px;
  cursor: pointer;
  transition: 0.1s all ease;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.085em;
  color: $ixblue;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 0px 0px 0px #B8B8B8;
  &.flat {
    background: #f0f0f0;
  }
  &.small {
    //flat small
    width: auto;
    height: 35px;
    padding: 0 16px;
    &:hover {
      top: -1px !important;
      height: 36px !important;
    }
    &:active {
      top: 0px !important;
      height: 35px !important;
    }
  }
  &.xsmall {
    //flat xsmall
    width: 100px;
    height: 25px;
    font-size: 10px;
    &:hover {
      border-bottom: 3px solid #ccc;
      top: 0px;
      height: 25px;
    }
    &:active {
      height: 25px !important;
      border-bottom: 0px !important;
    }
  }
  &.dark {
    border-bottom: 1px solid #5e5e5e;
    color: #f5f5f5;
    &.flat {
      background: #a1a1a1
    }
    &.gradient {
      background: #a1a1a1;

    }
    &:hover {
      //dark hover
      background-color: #ababab;
      top: -2px;
      border-bottom: 4px solid #727272;
      height: 52px;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
      &.xsmall {
        //dark small
        border-bottom: 3px solid #727272;
        top: 0px;
        height: 25px;
      }
    }
    &:active {
      //dark active
      top: 0px;
      height: 50px;
      border: 1px solid #727272;
      background-color: #8e8e8e;
      box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15);
    }
  }
  &:focus {
    outline: 0;
  }
  &:hover {
    //primary hover
    background-color: #f5f5f5;
    top: -2px;
    height: 52px;
    border-bottom: 4px solid #ccc;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
    &.static {
      top: 0px;
      height: 50px;
    }
  }
  &:active {
    //primary active
    top: 0px;
    height: 50px;
    border: 1px solid #ccc;
    background-color: #ededed;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15);
  }
}