html {
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
}

*, *::after, *::before {
	-moz-box-sizing: inherit;
	     box-sizing: inherit;
}

#search-header {
	margin: 32px auto;
}

.map-holder {
	min-height: 50vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: row-reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
}

.map-canvas {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	margin: 0;
}

.results {
	width: 500px;
	height: 100%;
	margin-right: 0 !important;
}

.float-right {
	margin-left: auto;
	float: right;
}

.basic-search-item {
	float: left;
	display: block;
	margin-right: 2.3576515979%;
	width: 23.2317613015%;
	padding: 2.3576515979%;
}

.basic-search-item:last-child {
	margin-right: 0;
}

.input-summary {
	height: 46px;
	background: #F0F0F0;
	position: relative;
}

.ui.button.basic-search-item {
	margin: 0;
}

.ui.top.attached.label + [class*="right floated"] + *, .ui.top.attached.label:first-child + :not(.attached) {
	margin-top: 0 !important;
}

.map-holder {
	width: 100%;
	margin: 0 auto;
	margin-top: 50px;
}

.map-canvas {
	position: relative;
}

#map {
	height: 0;
	overflow: hidden;
	padding-bottom: 22.25%;
	padding-top: 30px;
	position: relative;
}
