// Issues
.issue-section.ui.styled.accordion{
  border-bottom: 1px solid $grey_dark;
}

.ui.styled.accordion{
  border-radius: 0;
  background: $white;
  box-shadow:none;
}

.ui.styled.accordion .title{
  color: $ixblue;
  font-size: 20px;
  font-weight: 400;
  margin-left: 48px;
  &.active{
    background: $grey_light
  }
}

.issue-section .ui.styled.accordion .title{
  &.active{
    font-weight: 700;
    background: $grey_dark
  }
}


.ui.styled.accordion .title:before{
  content: '+ ';
  margin-left: -48px;
  display: block;
  float: left;
}

.ui.styled.accordion .content{
  padding: 8px 24px 16px 68px;
}

.inverted .content{
  line-height: 24px;
}

.inverted .content h6{
  text-align: left;
  color: $white;
  padding: 24px 0 16px 0;
}

.issue-header{
  text-align: center;
  padding: 16px 0 24px;
}
.icon-holder{
    padding: 16px 16px 8px;
    border: 1px solid #eee;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25)
}
.issue-section:nth-child(even){
  border-top: 2px solid $grey_light;
  border-bottom: 2px solid $grey_light;
  background: $white;
}

.ui.inverted.segment{
  margin: 24px 0
}
.ui.inverted.segment,
.ui.inverted.accordion {
  background: $grey;
}
.ui.inverted.accordion .title{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
}

.ui.accordion:not(.styled) .title ~
.content:not(.ui),
.ui.accordion:not(.styled) .accordion .title ~
.content:not(.ui){
  padding: 24px
}

// Glossary
.ui.rail{
  z-index: 99
}

#glossary-holder .ui.rail{
  border-right: 1px solid $grey_light;
  padding-right: 8px;
}

#glossary-list h6{
  text-align: left;
  padding: 0 8px;
}
#glossary-list ul{
  list-style: none;
}

#glossary-list a{
  display: block;
  padding: 0 8px;
  &:hover{
    background: #eee
  }
}
#glossary-holder{  position: relative;}

#glossary-list{
  @include span-columns(12);
}

#glossary-entries{
  @include span-columns(8);
  @include shift(4);

  @include media($medium){
      @include shift(6);
      @include span-columns(6);
  }

  @include media($small){
    @include shift(0);
    @include span-columns(12);
  }

}

// FAQs
.faq{
  background: $white
}

.faq-block{
  @include span-columns(10);
  @include shift(1);

  @include media($medium){
      @include shift(2);
      @include span-columns(8);
  }

  @include media($small){
      @include shift(0);
      @include span-columns(12);
  }
}