

// Let's not make this page responsive, for now
#map-page {
  min-width: 769px !important;
}

// Style the Tab Structure
#search-header{
  margin: $baseline*4 auto;
}

#search-header .menu .item{
  background: $grey_light;
  color: $ixblue;
  font-family: $WorkSans;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 2px;
  border-radius: 0;
}

#search-header .menu .item.active{
    background: $white;
    color: $grey_dark;
    border-top: 4px solid $grey;
    border-radius: 0 !important;
}

#search-header h3{
  color: #grey;
  font-size: 20px;
  font-weight: 500;
  margin: $baseline*2 0 $baseline*3 0;
  text-align: center;
}

.map-help{
  margin-left: auto;
  float: right;
  & .button{
      text-transform: uppercase;
      letter-spacing: 1px;
  }
}


// Layout of the Results Section
.map-holder{
  border-top:1px solid #ccc;
  min-height: 70vh;
  display: flex;
  flex-direction: row-reverse;
}

.map-canvas{
  flex: 1;
  margin: 0;
}

#map{
  height: 100%;
  max-width: 100%;
}

.results{
    width: 500px;
    z-index: 10;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: 0 !important;
    background: $white;
    padding: $baseline*2;
    border-left: 2px solid #eee;
    box-shadow: -4px 0px 4px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: -4px 0px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -4px 0px 4px 0px rgba(0,0,0,0.2);
}

.header-results{
  color: #grey;
  font-size: 24px;
  font-weight: 400;
  padding: $baseline 0;
  & em{
  font-size: 14px;
  }
}

.traceroutes-results,
.carriers-results{
  position: relative;
  margin-bottom: 40px;
  & h6{
    float: left;
  }
  & button{
  float: right;
  }
}

.carrier-results{
  padding: 16px 0;
}
.traceroutes-results h6,
.carriers-results h6{
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  text-align: left;
  letter-spacing: 0;
  text-transform: none;
  color: $grey;
}

.ui.visible.right.overlay.sidebar{
  width: 500px !important;
}


#map-page table{
  font-size: 14px;
  th {
    padding: 4px 8px;
    color: $grey;
  }
  tr{
    padding: 8px;
  }
}

  .ui.compact.table tr.carrier td {
    padding-left: 8px;
  &:first-child{
    padding-left: 16px;
    margin-left: 0;
    position: relative;
  }
}

.carrier-colour{
  width: 8px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #eee;
}

.bell{ background: maroon;}
.shaw { background: olive; }
.rogers { background: teal; }



.table.minor td{
  font-size: 14px;
}

.ui.compact.buttons .button,
.ui.compact.button {
  text-transform: uppercase !important;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: 600;
  font-family: $WorkSans;
}


.legend.sidebar{
  padding: 0 24px;
  h3{
    text-align: center;
    margin-bottom: 32px;
  }
  .button{
    text-align: left;
    margin-bottom: 8px
  }
}


.legend-item{
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.legend-item p{
  padding-left: 16px;
  font-size: 16px;
  line-height: 16px;
  .minor{
    font-size:14px;
    color: #808080
  }
}

.legend-item img{
  float: left;
  padding-left: 8px;
  width: auto;
  height: auto;
}





.map-canvas{
  position: relative;
}
.layers-toggle{
  position: absolute;
  top: $baseline;
  right: 0;
  z-index: 2;
}

.layers-toggle .ui.toggle.button{
  background: $white;
  border: 1px solid $ixblue;
  color: $ixblue;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.ui.toggle.buttons .active.button,
.ui.buttons .button.toggle.active,
.ui.button.toggle.active,
.ui.button.toggle.active:hover{
    background: #C8E3FA  !important;
    color: $ixblue !important;
  }



/* tables */

table.tablesorter thead tr .header {
  background-image: url("../img/icn-bg.gif");
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url("../img/icn-asc.gif");
}
table.tablesorter thead tr .headerSortDown {
  background-image: url("../img/icn-desc.gif");
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #eaeaea;
}

.searchsettings,
.input-holder {
  @include span-columns(12);
  position: relative;
}

/*// 1. Quick Search*/

.quick-input{
  @include span-columns(2 of 12);
  padding: 0;
}
.quick-input .button{
  height: 80px;
  border: 1px solid $ixblue;
  color: $ixblue;
  font-weight: 400;
  margin-bottom: $baseline*4;
  background-image:
  linear-gradient(
      #ffffff, #f0f0f0
    );

}
.quick-input .button:hover,
.quick-input .button:active,
.quick-input .button:focus{
    background: #f0f0f0;
  }

/*// 2. Basic Search*/
.basic.input-holder{
  display: flex;
  flex-flow: row;
  align-items: stretch;
}

a.basic-srch-itm{ margin: 0 8px;}

a.basic-srch-itm:nth-of-type(1){
  flex-grow: 4;
}

a.basic-srch-itm:nth-of-type(2){
  flex-grow: 4;
}
a.basic-srch-itm:nth-of-type(3){
  flex-grow: 4;
}
a.basic-srch-itm:nth-of-type(4){
  flex-grow: 1;
}

.input-summary{
  padding: 4px 8px 0 16px;
  background:$grey_light;
  border: 1px solid $grey_light;
  height: 60px;
}

.basic-srch-itm:hover .input-summary{
  border-color: $grey;
  box-shadow: 0 4px 6px $grey_light;
  }

.huge.button {
  height: 60px;
}

.input-summary .label{
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.input-summary{
  line-height: 24px;
   color: $grey_dark;
}


// 3. Advanced Search

.advanced.input-holder{
  display: flex;
  flex-flow: row;

}
.advanced-input{
  padding: 4px 8px 24px;
  flex: 1 1 auto;

  input, textarea, select {
    margin: 0;
  }
  input[type=text], input[type=email], input[type=url], textarea {
    height: auto;
    font-size: inherit;
  }
}

.advanced-input.constraint-does {
  flex: 0.75 1 auto;
}
.advanced-input.constraint-rule {
  flex: 1 1 auto;
}
.advanced-input.constraint-property {
  flex: 2 1 auto;
}
.advanced-input.constraint-value {
  flex: 4 1 auto;
}
.advanced-input.constraint-boolean {
  flex: 1 1 auto;
}
.advanced-input.constraint-buttons {
  flex: 0 1 auto;
}



.ui.form .inline.field > label {
    width: 100px;
}

i.flag:not(.icon):before {
  background-image: url("../img/flags.png");
}

.settings.modal {
  padding: 24px;
}
.settings.modal .setting-title{
  font-size: 20px;
  color: $grey;
}

.settings.modal .actions > .button{
  margin-left: 0;
}

.settings.modal .description{
  text-align: center;
}

.settings.modal .accordion .content{
  text-align: left;
  padding-bottom: 24px;
  margin-bottom: 8px;
  background: $grey_light;
}

.modal h5{
  display: inline-block;
  color: $ixblue
}

.modal h4{
  margin: 8px 0 32px 0;
}

.modal .header img{
  margin-top: 1em;
}

