// Let's not make this page responsive, for now
#map-page {
  min-width: 769px !important;
}

#search-header{
  margin: $baseline*4 auto;
}

.basic-search-item{
  @include span-columns (3);
  @include pad();
}

.input-summary{
  height: 46px;
  background: $grey_light;
  position: relative
}

.ui.button.basic-search-item{margin: 0}
.ui.top.attached.label+[class*="right floated"]+*, .ui.top.attached.label:first-child+:not(.attached){
  margin-top: 0!important;
}

.float-right{
    margin-left: auto;
    float: right;
}

.text-center{
  text-align: center;
}

// Layout of the Results Section
.map-holder{
  min-height: 70vh;
  display: flex;
  flex-direction: row-reverse;
}

.map-canvas{
  flex: 1;
  margin: 0;
}

#map{
  height: 100%;
  max-width: 100%;
}

.results{
    width: 500px;
    z-index: 10;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: 0 !important;
    background: $white;
    padding: $baseline*2;
    border-left: 2px solid #eee;
    box-shadow: -4px 0px 4px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: -4px 0px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -4px 0px 4px 0px rgba(0,0,0,0.2);
}




.ui.button.compact{
  font-size: 11px;
}



.table.minor td{
  font-size: 14px;
}

th:after {
    content: "  \25E6";
}

th.sorted.ascending:after {
    content: "  \25E6";
}

th.sorted.descending:after {
    content: " \25E6";
}


.query-line {
  padding: 0;
  margin: 0;
  list-style: none;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.advanced-input{padding: 0 8px;}
.advanced-input:nth-of-type(1){
  flex-grow: 1;
}

.advanced-input:nth-of-type(2){
  flex-grow: 2;
}

.advanced-input:nth-of-type(3){
  flex-grow: 2;
}

.advanced-input:nth-of-type(4){
  flex-grow: 2;
}

.advanced-input:nth-of-type(5){
  flex-grow: 1;
}
.advanced-input:nth-of-type(6){
  flex-grow: 0;
}
.advanced-input:nth-of-type(7){
  flex-grow: 1;
}

