//---------------------------------------------------------
// Navigation Styling
//      1. Header (Desktop)
//      2. Header (Mobile)
//      3. Footer
//---------------------------------------------------------

// Remove the Bullets on All Navigation Lists
nav li:before,
footer .content li:before {
    content: " ";
}

// Header Wrapper
.site-header{
  @include clearfix;
  min-height: $nav-height;
  z-index: 99;
  width: 100%;
  background: $white;
  box-shadow: 0 2px 20px rgba($black,0.20);
}

.site-header{
  position: relative;
  padding: 0;
}

// For the Screen Readers
.skip-content{
  display: none // Note: this hides from screen readers as well.
}

// Logo
.site-logo {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 20px;
  padding-top: 10px;
}

/* Navigation */
nav {
  float: right;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      display: inline-block;
      vertical-align: middle;

      a, a:visited {
        position: relative;
        display: block;
        font-family: $WorkSans;
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-size: 16px;
        line-height: 80px;
        font-weight: 700;
        transition: all .125s ease-in-out;;
        color: $ixblue;
        text-decoration: none;
        padding: 0 16px;
      }
    }
  }
}

nav ul li a:hover,
nav ul li.show-dropdown > a {
  background-color: $ixblue;
  color: $white
}

.nav-item,
.nav-item a {
    display: block;
}

.nav-dropdown {
  overflow: hidden;

  .nav-item a {
    color: $white;
    font-weight: 500;
  }
}
.nav-dropdown .nav-item a:hover,
.nav-dropdown .nav-item a.active {
  color: $ixblue;
  background: $white;
}

/** Desktop-view */
@media screen and (min-width: $default-min) {
    .nav-list > .nav-item,
    .nav-list > .nav-item a {
      display: inline-block;
    }
}


/* Mobile Toggle */

// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $white;
  height: $nav-height;
  width: $nav-height;
}
@media screen and (max-width: $small-max) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
  }
  nav {
   width: 100%;
    padding: $nav-height 0 0;
    & > ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
    display: none;
    background: $ixblue;
  }
}
@media screen and (min-width: $medium-min) {
  .nav-list {
    display: block !important;
  }
  .nav-dropdown {
    position:absolute;
    // height:0;
    // transition: 0.3s height ease-in-out;
    left: 0;
    right: 0;
    top: 100%;
    background: $ixblue;
    display: none;

    & > .nav-list {
      box-shadow: inset 0 2px 10px 0 rgba($black,0.20);
      width: 100%;
      display: flex !important;
      align-items: center;
      justify-content: center;
    }
    .nav-item {
      padding: 4px 0;
    }
    .nav-item a {
      font-weight: 500;
      line-height: 52px;
    }
  }
}

#nav-toggle {
  position: absolute;
  left: 22px;
  top: 28px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $ixblue;
    position: absolute;
    display: block;
    content: '';
    transition: all .125s ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}


//Footer

// Style the Footer Block
footer {
  background: $white;
  border-top: 2px solid $grey_light;
}

.footer-nav h4 {
  margin: 0;

  &:after{
    content: " / ";
    font-size: 30px;
    color: $grey_light;
  }
}

.footer-nav li:last-child h4:after{
  content: "";
}

.footer-nav {
  height: 140px;
  line-height: 140px;
  float: left;
  @include media($small) {
  float: none;
  text-align: center;
  height:80px;
  line-height: 80px;
  }
    ul {
    list-style: none;
    margin: 0;
    padding: 0;
      li {
      display: inline-block;
      vertical-align: middle;
      border-radius: $baseline;
      a, a:visited {
        // position: relative;
        // display: block;
        padding: 8px 16px;
        font-family: $WorkSans;
        font-size: 30px;
        line-height: 70px;
        font-weight: 400;
        transition: all .125s ease-in-out;;
        color: $ixblue;
        text-decoration: none;
        }
      a:hover {
        background-color: $grey_light;
      }
      }
  }
  @include media($small){
    margin-top: $baseline*4;
  }
}

.social-links {
  height: 140px;
  line-height: 140px;
  float: right;
  @include media($small) {
  float: none;
  text-align: center;
  height:80px;
  line-height: 80px;
}
    ul {
    list-style: none;
    margin: 0;
    padding: 0;
      li {
      display: inline-block;
      vertical-align: middle;
      .labeled{
        background: #fff
      }
      // img {
      //   display: block;
      //   margin: auto;
      //   padding: 8px 0;
      // }
      }
    }
}

.ui.labeled.icon.buttons .button, .ui.labeled.icon.button {
    position: relative;
    padding-left: 3em !important;
    padding-right: 1.5em !important;

    & > .icon {
      background: none
    }
    & > .icon:after, & > .icon:before, & > .icon img {
      display: block;
      position: absolute;
      width: 100%;
      top: 50%;
      text-align: center;
      transform: translateY(-50%);
      height: 20px;

      .social-links & {
        height: 26px;
      }
    }
}

// Style the Copyright Block
.footer-copyright {
  @include span-columns(12);
  border-top: 2px solid $grey_light;
  padding: 20px 0;
  position: relative;
    @include media($small) {
      text-align: center;
    }
  p.minor{
    display:inline-block;text-align: left;
      @include media($small) {
        text-align: center
      }
  }
}

#privacy.ui.button{
  float: right;
        @include media($small) {
       display:block;
       max-width: 180px;
       margin: auto;
       float: none
      }
}

#map-page .nav-item-map,
#contribute-page .nav-item-contribute,
#issues-page .nav-item-learn, #faqs-page .nav-item-learn, #glossary-page .nav-item-learn, #resources-page .nav-item-learn, #supportinglinks-page .nav-item-learn,
#report-2013-page .nav-item-transparency, #report-2014-page .nav-item-transparency, #report-2016-page .nav-item-transparency {
  a {
    background-color: $ixblue;
    color: $white;
  }
}
#issues-page .nav-item-issues,
#faqs-page .nav-item-faqs,
#glossary-page .nav-item-glossary,
#resources-page .nav-item-resources,
#supportinglinks-page .nav-item-supportinglinks {
  a {
    color: $ixblue;
    background: $white;
  }
}
