//---------------------------------------------------------
// Main Stylesheet
//---------------------------------------------------------

// Imports
@import "variables";
@import "bourbon";
@import "neat";
@import "grid";
@import "semantic-ui";
@import "navigation";
@import "home";
@import "map";
@import "learn";


// Set the Page Colour
body {
    background: $page;
    margin: 0;
    box-sizing: border-box;
    min-width: $min-width;
}

// Set the Grid Structure of Content Articles
article{
        @include shift(2);
        @include span-columns(8);
        padding: 24px;

    @include media($medium){
        @include shift(1);
        @include span-columns(10);
    }
    @include media($small){
        @include shift(0);
        @include span-columns(12);
    }
    @include media($mobile){
        @include shift(0);
        @include span-columns(2);
    }
}

.hero{
  width: 100%;
  height: 250px;
  background: $grey_dark;
    h1{
    line-height: 250px;
    text-align: center;
    margin: 0;
    }
}



section.faq-block{
    padding-bottom: 48px;
    border-top: 2px solid #eee
}







