

.transparency-intro{
  background: #191C1F;
  padding: 40px 0;
  text-align: center;
}

.ui.message{
  margin: 0 0 0 0 !important;
}

section{
  padding: 24px 0
}

/**
 *
 * =======================================================================
     Headers
 * =======================================================================
 */

h2{
    font-size: 2.25em;
    line-height: 1.125em;
    margin-bottom: 16px;
}

h3{
    font-size: 2.25em;
    line-height: 1.125em;
    color: #be9f23;
    margin-bottom: 16px;
}

h4{
    font-size: 24px;
    font-variant: small-caps;
    text-transform: lowercase;
    color: #191C1F;
    font-weight: 700;
    letter-spacing: 1px;
    border-top: 2px solid #191C1F;
    border-bottom: 2px solid #191C1F;
    padding: .25em 0 0.45em 0;
    margin: 2em 0 .5em 0;
}

h5{
    font-size: 1.125em;
    line-height: 1.25em;
    padding: 0;
    color: #191C1F;
    font-weight: 700;
    margin:  1.5em 0 .125em;
}

h6{
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-size: 1.25em;
    color: #191C1F;
    font-weight: 900;
    border-top: 2px solid #ddd;
    line-height: 1.25em;
    padding: .75em 0 .25em 0;
    margin: 2em 0 .5em;
}

article a.returntoarticle {
    background-image: none;
    padding-bottom: -4px;
    border-bottom: none !important;
    box-shadow: none;
    &:hover {
    background-image: none;
    padding-bottom: -4px;
    text-shadow: none;
  }
}


article ol li:before,
article ul li:before{
    color: #be9f23;
}

sup a{
  border-bottom: none;
  box-shadow: none;
  font-weight: 600;
  padding: 0 2px 4px;
}


.cc{
    border: 1px solid #ddd;
    margin: 1em 0;
    text-align: center;
    padding: 2em;
}

a.cc-image {
  background-image: none;
  box-shadow: none;
  padding: 1em 0;
  border-bottom: none;
  &:hover {
    background: none;
  }
}

header .ui.fluid.image{
  max-width: 800px
}

#download {
    text-align: center;
    padding: 2.5em 1em 1em 1em;
    margin-bottom: 2em;
}

#download button{
  font-size: 24px;
  font-weight: 900;
  line-height: 2em;
  padding: 0;
  margin: 1em 0;
  cursor: pointer;
  color: #fcfcfc;
  padding: .5em 1em;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
  border: 1px solid #DDD;
  background: -webkit-linear-gradient(top, #d6b75b, #be9f23);
  background:    -moz-linear-gradient(top, #d6b75b, #be9f23);
  background:     -ms-linear-gradient(top, #d6b75b, #be9f23);
  background:      -o-linear-gradient(top, #d6b75b, #be9f23);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
  -moz-box-shadow:    0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
  box-shadow:         0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
}


.center { text-align: center;}


.tabs li {
  float: left;
  width: 33.33%;
  list-style: none;
}
.tabs a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #888;
  padding: 20px 0;
  background: #ddd;
  border-bottom: none;
}
.tabs a:hover,
.tabs a.active {
  background: #888;
}
#container section .tabgroup{margin: 0;}

.tabgroup div {
  padding: 1em;
  background: #888;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.tabgroup img{
    width: 100%;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.ui.message  {
  margin: 1.5em 0 !important;
  text-align: center;
  line-height: 2em;
  font-style: italic;
  margin: 1em 0 0 0;
  a{
    color: #467848;
    font-weight: 600;
  }
}

.wrapper{
  width: 1000px;
  margin: 0 auto;
}

.wrapper ul{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  padding-left:0;
}

.wrapper .tabgroup{
  padding: 0;
}